
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&family=Poppins:wght@400;500;600&display=swap');

@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Outfit', sans-serif;
}



.navBar {
    box-shadow: none;
    transition: all 0.3s ease-in-out !important;
}
  
.navBar.scrolled {
    background-color:#050505;
}


.navLinkContain {
  display: flex;
  align-items: center;
  height: 100%;
  float: right;

  @include tablets {
    display: none;
  }
}

.navLinks {
  margin: 0 20px;
  text-decoration: none;
  color: #ffffffe1;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;

  &:hover {
      color: rgb(53, 207, 130);
      text-shadow: 0px 0px 15px #ffffff;
  }
}

.burger {
  display: none;
  float: right;

  @include tablets {
    display: block;
  }
}

.navBtn {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}



.mainHeader {
  width: 100%;
  height: calc(100vh + 20px);
  min-height: 600px;
  background-image: url('/headerbg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  @include phones {
    height: 130vh;
  }
}

.headerContent {
  position: absolute;
  color: white;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);
  width: 450px;


  @include laptops {
    right: 50%;
    width: 300px;
  }
  @include tablets {
    left: 50%;
    top: 260px;
    transform: translate(-50%, 0);
    text-align: center;
  }
  @include phones {
    width: 80%;
  }
}
.headerName {
  letter-spacing: 5px;
  -webkit-text-stroke: 1px #35CF82;
  color: rgba(255, 255, 255, 0);
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 8px #000000;
}

.headerJob {
  letter-spacing: 3px;
  -webkit-text-stroke: 1px #81d4fa;
  color: rgba(255, 255, 255, 0);
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 8px #000000;
}

.headerText {
  font-size: 1rem;
  margin: 10px 0;
  font-weight: 400;
  text-shadow: 2px 2px 8px #000000;
}


.headerImage {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(0, -50%);
  
  @include laptops {
    left: 55%;
    width: 300px;
  }
  @include tablets {
    left: 50%;
    top: 60px;
    transform: translate(-50%, 0);
    width: 200px;
  }
  @include phones {
    width: 180px;
  }
}


//Main Contents
.mainContainer {
  width: calc(1000px + 3%);
  margin: 0 auto;

  @include laptops {
    width: calc(500px + 20%);
  }

  @include tablets {
    width: 80%;
  }

  @include phones {
    width: 90%;
  }
}

.sectionTitleContainer {
  margin: 50px 0;
  text-align: center;

  .sectionTitle {
    letter-spacing: 4px;
    color: #1F583C;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;

    @include tablets {
      font-size: 1.5rem;
    }

    @include phones {
      width: auto;
    }
  }
  
  .titleShadow {
    width: 100%;
    font-size: 4rem;
    letter-spacing: 8px;
    color: #1f583c4b;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -85%);

  
    @include tablets {
      font-size: 3rem;
      letter-spacing: 6px;
    }

    @include phones {
      display: none;
    }
  
  }
}

//tech stack css
.textStackLbl {
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  text-align: center;
}
.gridIcons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gridIcon {
  margin: 20px;
}

.paragraph {
  line-height: 30px;
}


//about css
.aboutLbl {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.overPar {
  width: 400px;
  line-height: 30px;

  @include tablets {
    width: 100%;
  }

}

.aboutGrid {
  display: flex;
  gap: 40px;
  @include tablets {
    flex-direction: column;     
  }


  .aboutGrid1 {
    width: 100%;
    margin: 0 auto;
  
    .wrapperDiv {
      float: right;

      @include laptops {
        float: left;
      }

      @include tablets {
        float: none;
        text-align: center;
      }
    }
  }
  
  .aboutGrid2 {
    width: 100%;
  }
}


.listItem {
  margin: 10px 0;
  margin-left: 20px;
}




footer {
  width: 100%;
  height: 120px;
  background-color: #050505;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .footerLogo {
    filter: grayscale(100%);
  }
  p {
    display: block;
    color: #ffffffa4;
    font-size: 0.8rem;

  }
}

@media (max-width: 300px) {
  .svgLogo {
    display: none;
  }
}